.header,.main,.aside,.container-footer{
    background-color: rgb(169, 243, 243);
}

.item-1,.item-2,.item-3, .section-footer{
    background-color: antiquewhite;
}

.container{
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    height: 90vh;
    text-align: center;
}

.header{
    grid-area: 1/1/2/3 ;
}

.main{
    grid-area: 2/1/3/2;
}

.container-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
}

.aside{
    grid-area: 2/2/3/3;
}

.container-footer{
    display: grid;
    grid-area: 3/1/4/3;
    grid-template-columns: repeat(4,200px);
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    align-content: center;
}




