html{
    font-size: 16px;
}

.header__navigation_button{
    background-color: rgb(82, 34, 206);
    border-radius: 100px;
    font-weight: 750;
    text-decoration: none;
}
.header__navigation_button:hover{
    background-color: rgb(80, 45, 168);
}

.main__heading{
    color: black;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 120%;
}

.card{
    border-color: white;
}
.card-title{
    color: black;
    font-size: 1.4rem;
    font-weight: 800;
}
.card-text{
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 160%
}
.main__table_card-subscribe{
    height: 110%;
}
.main__table_card_body-subscribe{
    background-color: rgb(236, 97, 91);
}
.main__table_card_body-subscribe-button{
    background-color: rgb(82, 34, 206);
    border-radius: 100px;
    font-weight: 750;
    text-decoration: none;
}
.main__table_card_body-subscribe-button:hover{
    background-color: rgb(80, 45, 168);
}

.footer{
    margin-top: 5%;
    margin-left: 11.5%;
}
.footer__link{
    color: black;
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
}
.footer__link:hover{
    color: rgb(47, 25, 102);
    font-weight: 600;
}